{% load tags %}

<ul class="list-group">
	{% for menu_item in menu_items_fl_to_draw %}
	<div class="col-4">
		<li class="list-group-item list-group-item-action">
			{{ menu_item.spacer | safe }} <a href='{% if menu_item.url != "" %}{{ menu_item.url }}{% else %}{% url menu_item.named_url %}{% endif %}?active-menu={{ menu_name }}&level={{ menu_item.level }}&rank={{ menu_item.rank }}&parent={{ menu_item.parent }}'> {{ menu_item.caption }}</a>
		</li>
	</div>
	{% endfor %}

</ul>


<!-- <ul>
	{% for menu_item in menu_items_fl_to_draw %}
		
		{% if do_draw == None %}
			{% draw_menu_item menu_item %}
		{% else %}
			{% draw_menu_item menu_item do_draw %}
		{% endif %}

	{% endfor %}

</ul> -->
