{% load tags %}


<body>
	<nav>
		<ul class="list-group" id="menu">
			{% for menu_item in menu_items %}
				<li class="list-group-item list-group-item-action">
					{{ menu_item.spacer | safe }} <a href='{% if menu_item.url != "" %}{{ menu_item.url }}{% elif menu_item.named_url != "" %}{% url menu_item.named_url %}{% else %}{% url "index" %}{% endif %}?active-menu={{ menu_name }}&level={{ menu_item.level }}&rank={{ menu_item.rank }}&parent={{ menu_item.parent }}'> {{ menu_item.caption }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

	<script src="static/django_js_logger/logger.js"></script>

	<script>
		function expandMenuTree() {
			var pathname = window.location.pathname;
			var path = window.location.href.split('?')
			var activeMenu = path[1].split('&')[0].split('=')[1];
			var activeName = path[0].split('/')[3];
			var activeLevel = path[1].split('&')[1].split('=')[1];
			var activeRank = path[1].split('&')[2].split('=')[1];
			var activeParent = path[1].split('&')[3].split('=')[1];

			var menuItems = document.querySelectorAll("li");

			var i = 0;
			var flag = false;
			while (i < menuItems.length) {
				var item = menuItems[i];
				var itemHref = item.children[0].href;

				var itemPath = itemHref.split('?');
				var itemMenu = itemPath[1].split('&')[0].split('=')[1];
				var itemName = itemPath[0].split('/')[3];
				var itemLevel = itemPath[1].split('&')[1].split('=')[1];
				var itemRank = itemPath[1].split('&')[2].split('=')[1];
				var itemParent = itemPath[1].split('&')[3].split('=')[1];
				
				if (itemParent == activeParent) {
					flag = true;
				} 
				else if (parseInt(activeLevel) == 0) {
					// pass
				} 
				else if (parseInt(itemLevel) == 1) {
					// pass
				} 
				else if (flag && (activeName == itemParent)) {
					// pass
				} 
				else if (flag && (activeParent != itemParent)) {
					item.remove()
				} 
				i++;
			}
		}
		
		expandMenuTree();
	</script>

</body>
